header{
    height: 100px;
    background-color: #ff1e00;
    display: flex;
}
.l-h{
    display: flex;
}
.headr{
    background-color: cornflowerblue;
    height: 100px;
    width: 1405px;
}
.logo{
    background-color: rgb(233, 29, 178);
    height: 100px;
    width: 100px;
}

menu{
    background-color: aqua;
    height: 66px;    
}



section{
    height: 550px;
    background-color: yellow;
    display: flex;
}

.left{
    background-color: burlywood;
    width: 465px;
    margin: 10px;
}
.middal{
    background-color: blueviolet;
    width: 500px;
    margin: 10px;
}
.right{
    background-color: bisque;
    width: 465px;
    margin: 10px;
}





footer{
    height: 50px;
    background-color: yellowgreen;
}